body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Microsoft JhengHei !important;
  background-color: #fdfdfd;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ffdede' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");}

/* HTML default */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 1em 0;
  margin: 0px;
}

h3 {
  margin: 0;
}
select,option{
  background-color: #fff;
}
footer {
  line-height: 60px;
  height: 60px;
  background-color: #6d0000;
  color: #fff;
}

footer p {
  display: inline-block;
  margin-left: 1em;
}

section ul:after {
  display: block;
  clear: both;
  content: "";
}

/* 導覽列 */
nav {
  background-color: #e23838;
  color: #fff;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 0px 10px #999;
}
nav .nav-link {
  float: right;
}
nav .nav-link:after {
  display: block;
  clear: both;
  content: "";
}
nav ul {
  padding-left: 0px;
  float: right;
  margin: 0px;
}
nav li {
  float: left;
}
nav a {
  padding: 0 1em;
  color: #fff;
  display: inline-block;
}
nav .nav-link a:hover{
  background-color: #d11414;
  color: #efefef;
}
nav .logo {
  display: inline-block;
}


/* 商品頁 */
section .product-item {
  text-align: center;
  width: 30%;
  margin: 0px 1.6666%;
  float: left;
  margin-bottom: 1em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 8px 18px -5px #afafaf;
}
@media(max-width:1025px){
  section .product-item {
    width: 46%;
    margin: 0px 2%;
    margin-bottom: 2em;
  }
}
@media(max-width:610px){
  section .product-item {
    width: 80%;
    margin: 0px 10%;
    margin-bottom: 2em;
  }
}
section .product-item h3{
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;
}
section .product-item .img-block img {
  width: 100%;
}
section .product-item .select-block {
  width: 100%;
  text-align: center;
}
section .product-item .select-block select {
  font-size: 1em;
  padding: 0.2em;
  margin: 0.2em 0.2em;
  width: 70%;
}

/* 商品頁與購物車按鈕共用樣式 */
section button{
  padding: 0.8em 0;
  font-family: 微軟正黑體;
  border:0px;
  cursor: pointer;
  font-weight: 900;
  outline:none;
}

/* 商品頁按鈕 */
.btn-block button {
  width: 100%;
  color: #e23838;
  background-color: #fff;
  border:1px solid #e23838;
  outline:none;
}
.btn-block button:active{
  background-color: #e23838;
  color: #fff;
  border:1px solid #fff;
}
.btn-block button[type="button"]:disabled {
  background: #ffffff;
  color: rgb(197, 197, 197);
  cursor: not-allowed;
  border:1px solid #ccc;
}

/* 購物車頁 */
section .row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  min-height: 90vh;
}
section .cart-order {
  background-color: #fff;
  border:1px solid #ccc;
  text-align: center;
  margin-bottom: 80px;
}
section .cart-header {
  font-size: 1em;
}
section .cart-header h3 {
  height: 3em;
  line-height: 3em;
}

@media(max-width:1025px){
  section .cart-header ul{
    display: none;
  }
}


section .cart-header li {
  float: left;
  box-sizing: border-box;
  border: solid 1px #ccc;
  background-color: #f0f0f0;
  min-height: 3em;
  line-height: 3em;
}


section .title-1 {
  width: 38%;
}
section .title-2 {
  width: 26%;
}
section .title-3 {
  width: 12%;
}
section .title-4 {
  width: 12%;
}
section .title-5 {
  width: 12%;
}
@media(max-width:1025px){
  section .title-1 {
    width: 100%;
  }
  section .title-2 {
    width: 100%;
  }
  section .title-3 {
    width: 33.333%;
  }
  section .title-4 {
    width: 33.333%;
  }
  section .title-5 {
    width: 33.333%;
  }
}

/* 購物清單-已放入購物車商品 */
section .cart-body ul {
  border-bottom: 1px solid #ccc;
}
@media(max-width:1025px){
  section .cart-body ul{
    border:1px solid #ccc;
    width: 80%;
    margin: 1em 10%;
  }
}

section .cart-body li {
  float: left;
  box-sizing: border-box;
  z-index: 0;
  min-height: 7em;
}
@media(max-width:1025px){
  section .cart-body li{
    margin-right: 0px;
  }
}

.cart-body button {
  width: 3em;
  border:1px solid #e23838;
  background-color: #fff;
  color: #e23838;
}

section .cart-select {
  margin: 1em;
}
section .cart-select select{
  width: 70%;
  padding: 0.8em;
}
@media(max-width:1025px){
  section .cart-select {
    margin-top: 1em;
  }
  section .cart-select select{
    width: 80%;
    padding: 0.8em;
    margin-bottom: 1em;
  }
  section .cart-select option{
    padding: 0px;
  }
}


section .cart-img {
  float: left;
  width: 50%;
}
section .cart-img img {
  width: 100%;
  margin-left: 0.6em;
}
@media(max-width:1025px){
  section .cart-img {
    float: none;
    width: 100%;
  }
  section .cart-img img {
    width: 80%;
    margin-left: 0em;
  }
}


section .cart-info {
  float: right;
  text-align: center;
  width: 50%;
}
section .cart-info p {
  margin-top: 3em;
}
@media(max-width:1025px){
  section .cart-info {
    float: none;
    text-align: center;
    width: 100%;
  }
  section .cart-info p {
    font-size: 1.5em;
    margin-top: 0.3em;
  }
}


section .cart-money {
  margin-top: 3em;
}
section .cart-money p{
  display: none;
}
section .cart-deleted {
  margin-top: 3em;
}
@media(max-width:1025px){
  section .cart-deleted {
    margin-top: 2em;
  }
  section .cart-money {
    font-size: 1.3em;
    margin-top: 1.5em;
  }
  section .cart-money p{
    display: block;
  }
}

/* 購物清單底部 */
.cart-footer {
  height: 60px;
  line-height: 60px;
}
.cart-footer:after {
  display: block;
  clear: both;
  content: "";
}
.cart-footer .cart-footer-info1 {
  width: 33.3333%;
  float: left;
  text-align: left;
}
.cart-footer .total-amount {
  margin-left: 1em;

}
.cart-footer span{
  color: #e23838;
}
.cart-footer .cart-footer-info2 {
  width: 33.3333%;
  float: left;
}
.cart-footer .cart-footer-info2 button {
  background-color: #d11414;
  color: #efefef;
  width: 100%;
}

.cart-footer .cart-footer-info2 button:active{
  background-color: #b61515;
  color: #fff;
  border:1px solid #fff;
}

.cart-footer .cart-footer-info3 {
  width: 33.3333%;
  float: left;
  text-align: right;
}
.cart-footer .total-money {
  margin-right: 1em;
}
.cart-footer .total-money span {
  font-size: 1.4em;
}
